* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
 background-color: #fff;
height: 100px;


}

.nav__brand {
  width: 100px;

}

.nav__logo {
  width: 100%;
}

.nav__item {
  background-image: linear-gradient(to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
}
